# Desarrollo local (socket)
DB_USER=hitdev
DB_HOST=
DB_PASSWORD=
DB_PORT=5432
DB_NAME=rrhh_barrios_mineros
PORT=3001

# Produccion (Render PostgreSQL)
# DB_USER=<user>
# DB_PASSWORD=<password>
# DB_HOST=<host>.render.com
# DB_PORT=5432
# DB_NAME=<name>
# PORT=10000
